
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 246, 246);
  font-family: 'Lato', sans-serif;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  height: 550px;
  width: 400px;
  background-color: white;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 10px rgb(193, 192, 192);
}
h1{
    font-size: 2.3rem;
}

.userInfo{
    margin: 3px;
}

label{
    font-size: 1.1rem;

}
input{
    height: 30px;
    width: 220px;
    padding-left: 10px;
}

input:hover{
  background-color: rgb(166, 202, 234);
}

button{
 padding: 10px 92px;
 margin: 10px 0;
 background-color: rgb(55, 138, 201);
 border: none;
 border-radius: 5px;
 font-size: 15px;
 font-family: 'Lato', sans-serif;
 color: white;
}

a{
  margin-right: 10px;
    text-decoration: none;
}
